@import url(global.css);

.principal {
    display: grid;
}

.contenido {
    display: grid;
    grid-template-areas: "izquierda derecha";
    grid-template-columns: 8vw 90vw;
}

/* Inicio contenido izquierda */

.contenido-izquierda {
    display: flex;
    margin-top: 2vh;
    margin-left: 1.6vw;
    position: fixed;
    grid-area: izquierda;
    justify-content: center;
}

/* MENU */

.menu {
    background-color: #131417;
    height: 95vh;
    border-radius: 0.5vw;
    display: flex;
    width: 5vw;
    flex-direction: column;
    align-items: center;
}

.iconos {
    display: grid;
}

.icono-menu,
.icono-menu-2,
.icono-menu-3,
.icono-menu-4 {
    margin: 2vh auto;
}

.icono-menu-5 {
    margin-top: 48vh;
}


.fa-solid {
    cursor: pointer;
    color: white;
}

.fa-solid:hover {
    color: #d5d3d7;
}

/* FIN MENU*/

/* Inicio contenido izquierda */


.contenido-derecha {
    display: grid;
    grid-area: derecha;
    grid-template-areas: 
    "acercade"
    "desarrolladores";
    border-radius: 0.5vw;
    margin: 0 5vw;
}

.contenido-grid {
    grid-area: acercade;
    display: grid;
    grid-template-areas:
        "titulo imagen"
        "parrafo imagen"
        "manuale imagen";
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
}

.contenido-titulo {
    display: grid;
    grid-area: titulo;
}

.contenido-descripcion {
    grid-area: parrafo;
    width: 50vw;
}

.contenido-boton {
    grid-area: manuale;
}

.contenido-imagen {
    grid-area: imagen;
    display: grid;
    justify-items: center;
}

.contenido-integrantes {
    grid-area: integrantes;
}

.contenido__titulo{
    font-size: 4vw;
    font-weight: bold;
}

.contenido__descripcion {
    font-size: 1.5vw;
    text-align: justify;
}

.contenido__imagen{
    height: 45vh;
    width: auto;
}

.boton{
    padding: 2vh 3vw;
    background-color: #131417;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(199, 198, 198);
    text-decoration: none;
    font-weight: 300;
    color: white;
    font-size: 1.2vw;
}

.boton:hover {
    background-color: #ffffff;
    text-decoration: none;
    color: #131417;
}
/* Inicio sección integrantes del grupo */

.contenido-integrantes{
    grid-area: desarrolladores;
}

.tarjeta{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.integrantes__titulo{
    font-size: 4vw;
}

.tarjeta__titulo{
    font-size: 1.5vw;
}

