@import url(normalice.css);
@import url(global.css);
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;700&display=swap');

ul {
  list-style: none;
}

.principal {
  height: 100vh;
  display: grid;
}

.contenido {
  display: grid;
  grid-template-areas: "izquierda derecha";
  grid-template-columns: 8vw 90vw;
}

.contenido-izquierda {
  display: flex;
  margin: auto 0;
  grid-area: izquierda;
  justify-content: center;
}
/* MENU */


.menu {
  background-color: #131417;
  height: 95vh;
  border-radius: 0.5vw;
  display: flex;
  width: 5vw;
  flex-direction: column;
  align-items: center;
}

.iconos {
  display: grid;
}

.icono-menu,
.icono-menu-2,
.icono-menu-3,
.icono-menu-4 {

  margin: 2vh auto;
}   

.icono-menu-5{
  margin-top: 48vh;
}


.fa-solid {
  cursor: pointer;
  color: white;
}

.fa-solid:hover {
  color: #d5d3d7;
}

/* FIN MENU*/


.contenido-derecha {
  display: grid;
  grid-area: derecha;
  align-items: center;
}


.derecha-grid {
  display: grid;
  grid-template-areas:
    "tabla"
    "botones";
  grid-template-rows: 75vh 5vh;
  grid-template-columns: 90vw;
  row-gap: 3vh;
  margin: 0 auto;
}

.botones-contenido-derecha {
  display: flex;
  grid-area: botones;
  justify-content: end;
}

.boton-grid {
  display: grid;
  column-gap: 2vw;
}

.icono-boton {
  grid-area: icono;
}

.boton {
  grid-area: boton;
}

button {
  width: 10vw;
  height: 5vh;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #191919;
  color: #ffff;
  font-size: 2vh;
  font-weight: 300;
  border-radius: 8px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tabla {
  display: grid;
  overflow-x: auto;
  border: 1px solid #eeeeee;
  border-radius: 1vw;
}

th {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #191919;
  color: rgb(233, 233, 233);
}

td {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #f1f1f1;
}


/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-consultar .modal-content{
  height: 60vh;
}

/* Modal Content/Box */
.modal-content {
  display: grid;
  height: 70vh;
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 50%;
  border-radius: 0.4vw;
  /* Could be more or less, depending on screen size */
}

.campo-respuestas .campo-id{
  display: flex;
    align-items: center;
}

.campo__botones .fa-solid{
  color:#131417;
}


.modal-header {
  text-align: center;
}

.modal__titulo{
  font-size: 5vh;
}

.modal__descripcion{
  font-size: 2.5vh;
  color: #4e4e4e;
}

.combobox {
  width: 20vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.modal-footer {
  display: flex;
  justify-content: end;
  align-items: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close-insertar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-insertar:hover,
.close-insertar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close-modificar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modificar:hover,
.close-modificar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close-eliminar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-eliminar:hover,
.close-eliminar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close-consultar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-consultar:hover,
.close-consultar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input[type=text] {
  width: 20vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.modal-footer button{
  margin-right: 3.1vw;
}

.campo-respuestas{
  display: grid;
  grid-template-areas: 
  "campo_id"
  "resultados";
  justify-items: center;
}

.campo-titulo{
  grid-area: campo_id;
}

.campo-resultados{
  grid-area: resultados;
}

.tabla-2{
  height: 20vh;
  width: 50vw;
  border: 1px solid #eeeeee;
  border-radius: 1vw;
}

.campo-id input[type=text]{
  width: 10vw;
  height: 5vh;
}

#boton-buscar, #boton-limpiar{
  cursor: pointer;
}
